* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


body {
	font-family: 'Fredoka One', cursive;
	background-color: coral;
	box-sizing: border-box;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

h1 {
	text-align: center;
}
/* .available-burgers {
	margin-left: 40px;
	padding-top: 90px;
}

.devoured {
	text-align: right;
	margin-right: 40px;
	
	
} */

.all-burgers {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.all-burgers > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	list-style: none;
}

.burger-block {
	display: flex;
	align-items: center;
	margin: 20px 0;

	/* margin: all;
	margin: top/bottom left/right;
	margin: top right/left bottom;
	margin: top right bottom left; */
}

.burger-block p, .burger-block input, .burger-block label {
	margin-right: 10px;
	line-height: 1;
}

.btn {
	display: block;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
}

/* #add-dat {
	text-align: center;
	padding-top: 150px;
	
} */

.form-container {
	display: flex;
	justify-content: center;
}

